<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-12 lg:grid-cols-3 lg:gap-8">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">About</h2>
      <div class="flex flex-col items-start gap-8 sm:gap-10 lg:col-span-2">
        <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
          We advise businesses at every stage of their life cycle, from conception to start-up, to
          growth and expansion, to exit or winding-up. We also advise individuals on their
          interaction with the businesses with which they work.
          <br />
          <br />
           We offer a friendly, professional service focused on our clients’ needs and tailored to
          their objectives. We believe in developing long-lasting relationships and a proper
          understanding of our clients’ businesses.

          <br />
          <br />
           Our approach is fresh, commercial and proactive. We achieve results in an efficient and
          timely manner.

          <br />
          <br />
           Redfern Legal has particular expertise in helping international clients launch their
          businesses in the UK and Europe and we are specialists in inward investment. Our goal is
          to do everything we can to make our clients’ entry into the UK as straightforward as
          possible. We are a commercial partner of London & Partners, the official promotional
          organisation for London, and a Network Member of the Department of International Trade
          (DIT) as published in the UK Investment Support Directory helping businesses and people
          from around the world to invest in the UK.

          <br />
          <br />
           We have forged strong links with other professional service providers like accountants,
          tax advisors, payroll and employee benefits providers and are able to offer an integrated
          service, a managed one-stop solution, that accurately matches the specific needs of our
          clients. We can manage the professional requirements for your entry into the UK, letting
          you concentrate on the business itself. If we sound like the kind of law firm you would
          like to work with, please get in touch..
        </p>
        <a
          href="/about"
          class="bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
        >
          Read about us
        </a>
      </div>
    </div>
  </div>
</section>
