---
const CarouselData = [
  {
    id: 1,
    title: 'Solutions for you',
    description:
      'Whether you are an investor, individual or business owner needing immigration, commercial, employment or other advice, we are able to provide you with expert assistance. We concentrate on adding value by looking for ways to reduce risk and capitalise on opportunity.',
    image:
      'https://images.unsplash.com/photo-1461906903741-bf21de16ae85?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
  },
  {
    id: 2,
    title: 'Legal services working for and with you',
    description:
      'We are degicated to ensuring that our clients receive personal attention and that we deliver relevant and practical advice tailored to your personall or busines-needs.',
    image:
      'https://images.unsplash.com/photo-1485756884019-5519df92d868?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
  },
  {
    id: 3,
    title: 'Opening doors and opportunities',
    description:
      'Bring us your legal, issue and we will do our best to devise a great strategy for you.',
    image:
      'https://images.unsplash.com/photo-1607944024060-0450380ddd33?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
  },
  {
    id: 4,
    title: 'Our business is your success',
    description:
      "Relationships are vital to us at Redfern Legal. We're committed to understanding and building long-term relationships with our clients, and working alongside you as your business grows. We will listen to you needs, help grow your business and guide you through the UK's eve changing legal landscape.",
    image:
      'https://images.unsplash.com/photo-1520967824495-b529aeba26df?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
  },
  {
    id: 5,
    title: 'Commercial solutions. not legal proutems',
    description:
      'Our aim is to take the stress.out of the legal process by offering pragmatic, straightforward and personalised advice with the aim of achieving excellent results. We provide help to achieveyour.commercial and personalobjectives without unnecessary legallese.',
    image:
      'https://images.unsplash.com/photo-1527497171728-16dba07f59a1?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
  },
];
---

<div id="default-carousel" class="relative w-full" data-carousel="slide">
  <div class="relative h-[45rem] overflow-hidden rounded-3xl md:h-[45rem]">
    {
      CarouselData.map((item, index) => (
        <div
          class={`hidden duration-700 ease-in-out ${index === 0 ? 'block' : ''}`}
          data-carousel-item
        >
          <img
            src={item.image}
            class="absolute left-1/2 top-1/2 sm:top-2/2 block h-[1280] w-full dm:mt-42 -translate-x-1/2 sm:-translate-y-1/2 rounded-3xl"
            alt="..."
          >
          <div class="absolute hidden inset-0 lg:bg-black md:opacity-20 sm:opacity-0" />
          </img>
          <div class="md:absolute md:bottom-0 mt-8 sm:mt-12 md:top-1 mx-auto md:ml-20 flex md:w-6/12 sm:w-12/12 flex-col justify-center">
              <h1 class="md:text-4xl text-3xl font-medium tracking-tight lg:text-6xl md:text-white">
              {item.title}
              </h1>
              <p class="text-primary-950/70 dark:text-primary-200/70 lg:text-md md:text-md sm:text-sm md:text-white lg:text-white">
              {item.description}
              </p>
                <a
                  href="/contact"
                  class="w-44 mt-4 mb-4 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
                >
                Contact us!
                </a>
          </div>
        </div>
      ))
    }
  </div>
  <!-- Slider indicators -->
  <div class="absolute bottom-5 left-1/2 z-30 flex -translate-x-1/2 space-x-3 rtl:space-x-reverse">
    <button
      type="button"
      class="h-3 w-3 rounded-full"
      aria-current="true"
      aria-label="Slide 1"
      data-carousel-slide-to="0"></button>
    <button
      type="button"
      class="h-3 w-3 rounded-full"
      aria-current="false"
      aria-label="Slide 2"
      data-carousel-slide-to="1"></button>
    <button
      type="button"
      class="h-3 w-3 rounded-full"
      aria-current="false"
      aria-label="Slide 3"
      data-carousel-slide-to="2"></button>
    <button
      type="button"
      class="h-3 w-3 rounded-full"
      aria-current="false"
      aria-label="Slide 4"
      data-carousel-slide-to="3"></button>
    <button
      type="button"
      class="h-3 w-3 rounded-full"
      aria-current="false"
      aria-label="Slide 5"
      data-carousel-slide-to="4"></button>
  </div>
  <!-- Slider controls -->
  <!-- <button
    type="button"
    class="group absolute start-0 top-0 z-30 flex h-full cursor-pointer items-center justify-center px-4 focus:outline-none"
    data-carousel-prev
  >
    <span
      class="inline-flex h-10 w-10 items-center justify-center rounded-full bg-white/30 group-hover:bg-white/50 group-focus:outline-none group-focus:ring-4 group-focus:ring-white dark:bg-gray-800/30 dark:group-hover:bg-gray-800/60 dark:group-focus:ring-gray-800/70"
    >
      <svg
        class="h-4 w-4 text-white rtl:rotate-180 dark:text-gray-800"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 6 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 1 1 5l4 4"></path>
      </svg>
      <span class="sr-only">Previous</span>
    </span>
  </button>
  <button
    type="button"
    class="group absolute end-0 top-0 z-30 flex h-full cursor-pointer items-center justify-center px-4 focus:outline-none"
    data-carousel-next
  >
    <span
      class="inline-flex h-10 w-10 items-center justify-center rounded-full bg-white/30 group-hover:bg-white/50 group-focus:outline-none group-focus:ring-4 group-focus:ring-white dark:bg-gray-800/30 dark:group-hover:bg-gray-800/60 dark:group-focus:ring-gray-800/70"
    >
      <svg
        class="h-4 w-4 text-white rtl:rotate-180 dark:text-gray-800"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 6 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 9 4-4-4-4"></path>
      </svg>
      <span class="sr-only">Next</span>
    </span>
  </button> -->
</div>
